@import url('https://fonts.googleapis.com/css2? family = Poppins: wght @ 300 & display = swap');

:root{
        --primary-color: #4daf54
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background:linear-gradient(to right,#4daf54,#3d8880);
    font-family: "Poppins"
}

.card{
    
    margin: 120px auto;
    width: 320px;
    height: 400px;
    background: #272d40;
    padding: 20px;
    border-radius: 15px;
    color: white;
    position: relative;
}

.card__heart, .card__cart {
    z-index: 2;
    font-size: 25px;
    position: absolute;
    left: 20px;
    top: 15px;
    transition: 0.5s;
    

}

.card__cart:hover {
    transform: scale(1.5);
}

.card__heart:hover{
    transform: scale(1.5)
}

.card__cart {
    left: unset;
    right: 20px;
}

.card__img{
    width: auto;
    transition: 0.5s;
    
}

.card__img img{
    display: block;
    margin-left: auto;
    margin-right: auto;
     width: 50%;
     height: 100%;
     /* object-fit: cover; */

}

.card__title, .card__price{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    transition: 0.5s;
}

.card__title{
    color: var(--primary-color);
}


.card__size, .card__color{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}



.card__size span{
        padding: 3px 5px;
        background: #dadada;
        color: black;
        border-radius: 5px;
        margin: 0 1px;
}


.card__color span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 5px;
}


.card__color--green {
    background: green;
}

.card__color--red {
    background: red;
}

.card__color--black {
    background: black;
}

.card__action button{
    background: var(--primary-color);
    border: none;
    outline: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 10px;
    transition: 0.25s;
    cursor: pointer;
}
.card__action button:hover{
transform: scale(0.9);

}

.card__img:hover img {
    transform: scale(1.1);
    transition: 0.4s;
}

.card:hover .card__img{
    
    transform: translateY(-80px); /*rotate(-20deg); */
}

.card:hover .card__title{
    transform: translate(-50px, -70px); /*rotate(-20deg); */


}
.card:hover .card__price{
    transform: translate(-111px, -70px); /*rotate(-20deg); */
}

.card__size{
    margin-top: 150px;
}

.card__size, .card__action, .card__color{
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.card:hover .card__size,
.card:hover .card__color,
.card:hover .card__action{
    visibility: visible;
    opacity: 100;
    transition-delay: 0.4s;
}


.card:hover .card__size{
    margin-top: -30px;
}