.nav {
    background-color: red;

    /* display: flex; */
    justify-content: space-between;
}

.nav-list {
    display: flex;
    /* margin: auto 16px; */
    text-decoration: none;
}

.nav-list li {
    text-decoration: none;
    list-style: none;
    margin: auto 16px;
    font-size: 20px;
    color: white;
}